#info.affix-top {
	position: static;
	margin-top:10px;
}

#info.affix {
	position: fixed;
	top:10px;
}

.content {
	background: #FFF url('../img/bg-site.png') repeat top left;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*
 * Background image css adapted from https://askubuntu.com/
*/

body {
	color: #111;
	background-color: #FFF;
	padding-top: 10px;
	transition: all 0.4s ease 0s
}

.title  {
	font-family: 'Arvo', serif;
}
