.container{
  width: 55vw;
  height: 100vh;
  margin-left: 20vw;
  float: left;
}

.sidebar{
  width:15vw;
  height:100vh;
  background-color: #2891bf;
  text-align: right;
  color: white;
  /*padding-right: 5px;*/
  font-size: 20px;
  float: left;
}

.content{
  width: 35vw;
  height: 100vh;
  margin-left: 1vw;
  background-color: #d6e5ff;
  text-align: left;
  float: left;
  color: black;
  padding-left: 1vw;
  padding-right: 1vw;
}

.profile-picture{
  max-width: 100%;
  height: auto;
  width: auto;
}

.h1{
  font-size: 28px;
  padding-top: 0px;
  margin-top: 0px;
}

.h2{
  font-size: 20px;
}

.nav ul{
  list-style: none;
  width: 100%;
}
.nav li{
  display: block;
  padding-right: 5%;
  height: 40px;
  width: auto;
  text-decoration: none;
  background-color: #2891bf;
}
.nav a:link, a:visited{
  color: white;
  text-decoration: none;
}
.nav a:hover, a:active{
  background-color: white;
  color: #2891bf;
}
.nav li:hover{
  background-color: white;
}
